@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,400&display=swap');
.App {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(249, 98, 162, 1) 50%,
    rgba(249, 98, 162, 1) 100%
  );
  font-family: 'Rubik', sans-serif;
}